#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* <--------------------------------------------- BACKGROUND CSS-------------------------------------> */
body {
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 100vh;
  font-family: Georgia, serif;
}

.logo {
  width: 40%;
  height: 100%;
}

.logo-small {
  width: 6%;
  height: 10%;
  position: absolute;
  left: 425px;
  top: 5px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* <--------------------------------------------- NAVBAR CSS-------------------------------------> */
.nav {
  background: #eaae69;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 24px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* <--------------------------------------------- CONTACTMEPAGE CSS-------------------------------------> */
.container {
  /* width: 700px; */
  /* max-width: 800px; */
  margin: 50px auto 20px;
  padding: 20px;
  background: #eaae69;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.list-group-item {
  padding: 20px;
  margin-bottom: 20px;

  font-size: 18px;
}

.social-media-links {
  margin-top: 10px;
}

.social-media-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.social-media-links a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ff0000;
}

@media (max-width: 768px) {
  .list-group-item {
    font-size: 0.9rem;
  }
}

/* <--------------------------------------------- GLOBAL SETTING FOR FORM CSS  -------------------------------------> */
.page {
  margin-top: 30px;
  background: #eaae69;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
}

.page h1 {
  margin: 10px 0 20px;
  font-size: 1.5rem;
}

.page form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex: 1;
  margin-right: 10px;
}

input[type="text"],
textarea {
  flex: 2;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  align-self: flex-start;
}

/* <--------------------------------------------- ABOUTMEPAGE FORM CSS-------------------------------------> */

#authorForm {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  width: 100%;
  max-width: 800px;
  margin: 20px auto; /* Add margin for spacing */
  padding: 20px;
  background-color: #eaae69;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#authorForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

#authorForm input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 22px); /* Adjusting for padding and border */
  font-size: 16px;
  transition: border-color 0.3s ease;
}

#authorForm textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 22px); /* Adjusting for padding and border */
  font-size: 16px;
  height: 250px; /* Adjust the height as needed */
  transition: border-color 0.3s ease;
}

#authorForm input[type="text"]:focus,
#authorForm textarea:focus {
  border-color: #57bc90;
}

#authorForm button {
  background-color: #57bc90;
  color: #fff;
  border: none;
  padding: 12px 24px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  align-self: center; /* Align button to the center */
}

#authorForm button:hover {
  background-color: #77c9d4;
}

form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Works Style */

.container {
  margin-top: 30px;
  background: #eaae69;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  max-width: 800px;
}

.container h1 {
  margin: 10px 0 20px;
  font-size: 1.5rem;
}

.container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex: 1;
  margin-right: 10px;
}

input[type="text"],
textarea {
  flex: 2;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  align-self: flex-start;
}

/* BUTTON SPACING */
.button-margin-right {
  margin-right: 10px;
}

/* <--------------------------------------------- GLOBALFORM STRUKTUR CSS-------------------------------------> */
/* Gør så den popper op */
form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  background-color: #eaae69;
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
